<!DOCTYPE html>
<html>

<head>
<title>Tournament calendar</title>

</head>

<body>

    {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
    <p>
        <a href="/logout">Kirjaudu ulos</a>
    </p>
    {% else %}
    register bit <a href="/register">Luo tunnus</a> <br />
    Login bit <a href="/login"> log in</a> <br /><br /><br />
    Sivua on ladattu  {{ count }}  kertaa

 {% endif %}

{% for tournament in tournamentss %}
<h1>
    {{tournament[0]}} </h1><br />

    <p1> {{tournament[1]}}</p1><br />
    <p1> {{tournament[2]}}</p1><br />
    <p1> {{tournament[3]}}</p1><br />
 {% endfor %}

{% if session.username %}

<a href="/tournamentmake">make new tournament </a><br />
<a href="/tournamentdelete">delete all your tournaments </a>
</body>
{% endif %}


 
</html>