<!DOCTYPE html>

<html>

<form action="/edit/{{tournament[0][0]}}" method="post">


<p>

title: <br >
<textarea name="title" rows="1" cols="40" maxlength="100">{{tournament[0][1]}}</textarea>
</p>
<p>

<textarea name="descr" rows="6" cols="60"maxlength=7000>{{tournament[0][2]}}</textarea>

</p>
<p>
<textarea name="qualifier" rows="1"  cols="60"maxlength="2">{{tournament[0][4]}}</textarea>
</p>
<p>
<textarea name="whenevent" rows="6" cols="60"maxlength="13">{{tournament[0][5]}}</textarea>

</p>
<input type="submit" value="Lähetä" />


</form>



</html>

