{% extends "layout.html" %}

{% block title %} Etusivu {% endblock %}

{% block content %}

<form action="/edit/{{tournament[0][0]}}" method="post">


<p>

title: <br >
<textarea name="title" rows="1" cols="40" maxlength="100">{{tournament[0][1]}}</textarea>
</p>
<p>
<p>description</p>
<textarea name="descr" rows="6" cols="60"maxlength=7000>{{tournament[0][2]}}</textarea>

</p>
<p> is there a qualifier?</p>
<textarea name="qualifier" rows="1"  cols="60"maxlength="3">{{tournament[0][4]}}</textarea>

<p>date, yyyy:mm:dd:hh:mm</p>
<textarea name="whenevent" rows="6" cols="60"maxlength="16">{{tournament[0][5]}}</textarea>

</p>
<input type="submit" value="Lähetä" />
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

</form>


{%endblock%}