{% extends "layout.html" %}

{% block title %} Etusivu {% endblock %}

{% block content %}

<h1>All tournaments</h1>
{% for tournament in tournamentss %}
<div class="tournament">
<h1>
    <a href="/tournament/{{tournament[0]}}">{{tournament[1]}} </a></h1><br />
    <p1>is there a qualifier: {{tournament[5]}}</p1><br /><br />

    <p1>description: {{tournament[2]}}</p1><br /><br />
    <p1>organizer: {{tournament[3]}}</p1><br /><br />
    <p1>date: {{tournament[4]}}</p1><br /><br />
</div>
 {% endfor %}

{% if session.username %}

<a href="/tournamentmake">make new tournament </a><br />
</div>
{% endif %}
{%endblock%}

