{% extends "layout.html" %}

{% block title %} Etusivu {% endblock %}

{% block content %}
<Head>
    <h1>Register here if you do not already have an account</h1>

</Head>
<body>
    <form action="/create" method="post">
        <p>
            Nimi: <br />
            <input type="text" name="username" maxlength="100"/>
        </p>
        <p>
            Salasana: <br />
            <input type="password" name="password1" maxlength="100"/>
        </p>
        <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2",maxlength="100" />
    </p>
    <input type="submit" value="luo tunnus"/>
    </form>

    <a href="/">takaisin</a>

    
{% endblock %}