{% extends "layout.html" %}

{% block title %} Etusivu {% endblock %}

{% block content %}

<head>
<title> Haku </title>
</head>
  <h1>Haku</h1>

  <form action="/search" method="get">
    <p>
      Hakusana:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    <input type="submit" value="Hae" />
  </form>

  {% if query %}
  <hr />
  <h2>Tulokset</h2>
  
  <ul>
  {% for result in results %}
    <div class="tournament">
<h1>
    <a href="/tournament/{{result[0]}}">{{result[1]}} </a></h1><br />
    <p1><b>is there a qualifier:</b> {{result[5]}}</p1><br /><br />

    <p1><b>description:</b> {{result[2]| show_lines}}</p1><br /><br />
    <p1><b>organizer:</b> {{result[3]}}</p1><br /><br />
    <p1><b>date:</b> {{result[4]}}</p1><br /><br />
</div>
 {% endfor %}
  </ul>
  {% endif %}

{%endblock%}