
{% extends "layout.html" %}

{% block title %} tournament {% endblock %}

{% block content %}
<div class="singletournament">
<h1>
   {{tournament[0][1]}} </a></h1><br />
    <p1>is there a qualifier: {{tournament[0][4]}}</p1><br /><br />

    <p1>description: {{tournament[0][2]}}</p1><br /><br />
    <p1>organizer:<a href="/user/{{user_id}}">{{tournament[0][3]}}</a></p1><br /><br />
    <p1>date: {{tournament[0][5]}}</p1><br /><br />
</div>
<p>
    {% if tournament[0][3] == session.username%}
</p>
<p>
    <a href="/edit/{{tournament[0][0]}}">edit the event </a> </br>
    <a href="/remove/{{tournament[0][0]}}">remove the event </a>
</p>
{% endif %}
{% if session.username not in people%}
<form action="/register/{{tournament[0][0]}}" method="post">
    <input type="submit" value ="register">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
{% endif %}
{% if session.username in people%}
<form action="/delreg/{{tournament[0][0]}}" method="post">
    <input type="submit" value ="remove register">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
{%endif%}
<div class="register">
    <h2>registrations:</h2>
{% for person in people%}
   <p1>{{person}} </p1> </br> </p1> 
{%endfor%}
</div>
<h3> <a href="/"> frontpage </a>   </h3>
{%endblock%}