<!DOCTYPE html>
<html>


<p>

{{tournament}}
<a href="/user/{{user_id}}">{{tournament[0][3]}} </a>
{% if tournament[0][3] == session.username%}


</p>
<p>
<a href="/edit/{{tournament[0][0]}}">edit the event </a>


</p>
{% endif %}

{% if session.username not in people%}

<form action="/register/{{tournament[0][0]}}" method="post">

<input type="submit" value ="register">



</form>
{% endif %}


<h1> {{people}} </h1>


<h3> <a href="/"> frontpage </a>   </h3>
</html>