<!DOCTYPE html>

<html>


<body>
    
<form action="/newtournament" method="post">
<p>
    TITLE <br />
    <input type="text" name="title" />
</p>
<p>
description of the event, make sure to mention where to register if needed and where it will be taking place
<br /><textarea name="descr" rows="6" cols="60"></textarea>
</p>
<p>
    qualifier? 1 for yes 2 for no
    <input type="text" name="qualifier">

</p>
<p>
    when is the event happening yyyy:mm:dd:hh:mm ?
    <input type="text" name="whenevent" />
    
</p>
<input type="submit" value="send" />


</form>

</body>







</html>